@font-face {
	font-family: 'Source Serif Pro';
	src: url('SourceSerifPro-ExtraLight.woff2') format('woff2'), url('SourceSerifPro-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}