$text-color:#fff;
$base-font:10px;
$button-font:20px;
$bg-color:#F3F7EA;
$secondary-color:#262626;
$about-font: 30px;
$title-font: 40px;
$description-font: 25px;
$font-family: 'Source Serif 4';
$gray-color:#474747;